<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	</head>
	<body class="container">
		<header>
    		<% include ../partials/header %>
		</header>
		<main>
			<div class="jumbotron">
				<div class="card" style="width:400px">
				    <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
				    <div class="card-body">
				      <h4 class="card-title">Username</h4>
				      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
				      <a href="#" class="btn btn-primary">See Profile</a>
			    </div>
			</div>
		</main>
		<footer>
	    	<% include ../partials/footer %>
		</footer>
	</body>
</html>