<!-- views/partials/header.ejs -->

<div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9 ">
        <img src="https://image.noelshack.com/fichiers/2018/06/5/1518183828-logo.png" class="img-responsive"/>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand"href="/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            Compagnon
        </a>
    </div>
        <ul class="nav navbar-nav">
            <li><a href="/message">Messages <span class="badge">3</span></a></li>
            <li><a href="/map">Map</a></li>
            <!-- <li><a href="/account/manage">Mon compte</a></li> -->
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/account/register"><span class="glyphicon glyphicon-log-in"></span> S'inscrire</a></li>
          <li><a href="/account/login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
        </ul>
                

    </div>
</nav>
