<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Compagnon</title>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- load fontawesome -->
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
 <!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	canvas {
	  width: 50%;
	  height: auto;
	}
 	body{
    	background-image: url("https://image.noelshack.com/fichiers/2018/06/5/1518183832-bg.png");
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: bottom left;
	}
    body    { padding-top:50px; }
    header {
	    margin-bottom: 50px;
	}
	
</style>
