<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	</head>
	<body class="container">
		<header>
    		<% include ../partials/header %>
		</header>
		<main>
			<div class="jumbotron">
				<!-- Show send message status -->
				    <% if (message.length > 0) { %>
				        <% if(success.length > 0) { %>
				        	<div class="alert alert-success"><%= message %></div>
				        <% } else {%>
				        	<div class="alert alert-danger"><%= message %></div>
				        <% } %>
				    <% } %>
				<ul class="nav nav-pills">
				    <li class="active"><a data-toggle="pill" href="#send">Envoyer un message</a></li>
				    <li><a data-toggle="pill" href="#receivedMessage">Messages reçus</a></li>
				    <li><a data-toggle="pill" href="#sendedMessage">Messages envoyés</a></li>
				  </ul>
				  <br>
				<div class="tab-content">
					<!-- Envoyer un message -->
					<div id="send" class="tab-pane fade in active">
						
						<form class="form-horizontal" role="form" method="post" action="/message/send">
							<div class="form-group">
								<label for="username" class="col-sm-2 control-label">Nom d'utilisateur</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" value="">
								</div>
							</div>
							<div class="form-group">
								<label for="object" class="col-sm-2 control-label">Objet</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="object" name="object" placeholder="Objet" value="">
								</div>
							</div>
							<div class="form-group">
								<label for="content" class="col-sm-2 control-label">Contenu</label>
								<div class="col-sm-10">
									<textarea class="form-control" rows="4" name="content"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="human" class="col-sm-2 control-label">2 + 3 = ?</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="human" name="human" placeholder="Réponse">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
									<input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-2">
								</div>
							</div>
						</form>
					</div>
					<div id="receivedMessage" class="tab-pane fade">
						<!-- message a lire-->
						<div class="panel-group">
							<div class="panel panel-primary">
								<div class="panel-heading">
							      <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
							    Message subject : from : user </div>
								<div class="panel-body"> Message Content preview </div>	
							</div>
						<!-- Message lu--> 
							<div class="panel panel-info">
								<div class="panel-heading">
							      <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:60px">
							    Message subject : from : user </div>
								<div class="panel-body"> Message Content preview </div>	
							</div>
						</div>
					</div>

					<div id="sendedMessage" class="tab-pane fade">
						<div class="panel-group">
							<div class="panel panel-success">
								<div class="panel-heading">Message subject : from : user </div>
								<div class="panel-body"> Message Content preview </div>	
							</div>
						</div>
					</div>
					
					</div>
				</div>
		</main>
		<footer>
	    	<% include ../partials/footer %>
		</footer>
	</body>
</html>