<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
		<script type="text/javascript" src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
	</head>
	<body class="container">
		<header>
    		<% include ../partials/header %>
		</header>
		<main>
	    	<div class="jumbotron">
	    		<div class="row">
			  		<div class="col-sm-4">
				    	<a href="/map" class="thumbnail">
			    			<span class="badge badge-pill badge-success">Nouvelle chute</span>
				      		<img src="images/map.svg" alt="" class="img-responsive">
				    	</a>
				  	</div>
				  	<div class="col-sm-4">
				    	<a href="/message" class="thumbnail">
				    		<span class="badge badge-pill badge-success">Nouveau message</span>
				      		<img src="images/message.png" alt="" class="img-responsive">
				    	</a>
				  	</div>
				  	<div class="col-sm-4">
				    	<a href="/account/manage" class="thumbnail" >
				    		<span class="badge badge-pill badge-success">Mise à jour compte</span>
				      		<img src="images/account.svg" alt="" class="img-responsive">
				    	</a>
				  	</div>
				</div>    
		    <div class="row">
		  	<div class="col-sm-4 col-sm-offset-4">
						    	<a href="/group/" class="thumbnail">
						      		<img src="images/group.png" class="img-responsive" alt="">
						    	</a>
						  	</div>
		  </div>
		</main>
		<footer>
	    	<% include ../partials/footer %>
		</footer>
	</body>
</html>